html,
body {
    overflow: hidden;
    box-sizing: border-box;
}

@media (min-width: 640px) {
    .container {
        max-width: 620px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 600;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 900px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1000px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1000px;
    }
}