@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #020817;

    --card: #ffffff;
    --card-foreground: #020817;

    --popover: #ffffff;
    --popover-foreground: #020817;

    --primary: #0369a1;
    --primary-foreground: #f8fafc;

    --secondary: #12b981;
    --secondary-foreground: #1c1917;

    --accent: #d53f8c;
    --accent-foreground: #1c1917;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0369a1;

    --radius: 0.5rem;
  }

  .dark {
    --background: #020817;
    --foreground: #f8fafc;

    --card: #020817;
    --card-foreground: #f8fafc;

    --popover: #020817;
    --popover-foreground: #f8fafc;

    --primary: #0369a1;
    --primary-foreground: #f8fafc;

    --secondary: #12b981;
    --secondary-foreground: #1c1917;

    --accent: #d53f8c;
    --accent-foreground: #f8fafc;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #cbd5e1;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--background);
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 6px;
    border: 3px solid var(--background);
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-foreground);
  }
}